<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taofeek.citaa">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.taofeek.citaa.RecoverPassword">

        </activity>
        <activity
            android:name="com.taofeek.citaa.OnboardingScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.taofeek.citaa.EventList" />
        <activity android:name="com.taofeek.citaa.customer.EventBooking"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.taofeek.citaa.organization.NewEvent" />
        <activity android:name="com.taofeek.citaa.customer.BookingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.taofeek.citaa.FacilityListDisplay" />
        <activity android:name="com.taofeek.citaa.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taofeek.citaa.organization.FacilityHomeActivity"
            android:label="@string/title_activity_facility_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.taofeek.citaa.customer.HomeActivity"
            android:label="@string/title_activity_user_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.taofeek.citaa.organization.FacilityEditActivity" />
        <activity android:name="com.taofeek.citaa.customer.UserEditActivity" />
        <activity android:name="com.taofeek.citaa.RegisterActivity" />
        <activity android:name="com.taofeek.citaa.LoginActivity" />
        <activity android:name="com.taofeek.citaa.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>